<h1>Select pariticipants and date</h1>

<div class="container">
  <div class="card p-3">
    <%= simple_form_for([@activity, @booking]) do |f|%>
      <div class="d-flex">
        <div class="w-30">
          <%= f.input :participant, collection: (1..5).to_a, prompt: "Participants",
          label: false, input_html: {class: "box ms-1"} %>
        </div>
      </div>
      <div class="d-flex">
        <%= f.input :date, as: :date, html5: true, label: false, input_html: {class: "pb-0"} %>
        <%= f.input :time, label: false,
        collection: ["10","11","12","13","14","15","16","17","18","19","20"],
        prompt: "hr", input_html: {class: "box"} %>
        <p class="time">:</p>
        <%= f.input :time, label: false, collection: ["00","15","30","45"],
          prompt: "min", input_html: {class: "box"}%>
      </div>
      <%= f.submit "Book now!", class: "button" %>
    <% end %>
    </div>
</div>
