<h1>Select pariticipants and date</h1>

<%= simple_form_for(@booking) do |f|%>
  <%= f.input :paticipant, as: :select %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :time, as: :time, as: :select, html5: true %>
  <%= f.submit "Book now!", class: "button" %>
<% end %>
