<div class="container-fluid">
  <%# <div class="small-card card-box-shadow row"> %>
  <div class="col-sm-10 offset-sm-1 align-items-center">
  <h3 class="title-game">If you don't know what to choose, we <strong>make it easy</strong> for you!</h3>
  <h3 class="title-game"><strong>Choose</strong> a card, and start the adventure...</h3>

    <div class="card-grid aligning">
      <%# ################# front card############################ %>
      <%# <div class="card-body card-game flip-card"> %>
      <div class="flip-card-click card-game">
        <div class="flip-card-inner card-game" tab-index="0">
          <div class="flip-card-front card-game">
            <h2>Play&flip</h2>
          </div>
          <div class="flip-card-back card-game">
            <% random = @activities.sample %>
            <img class="card-img-top" style="height: 400, crop: :fill; padding: 5px; border-radius: 15px;"
              src="<%= cl_image_path random.photos.first.key %>" style="" alt="the-game-card">
            <div>
              <h3 class="title-game"><%= random.name %></h3>
              <%= link_to activity_path(random) do %>
                 <i data-feather="arrow-right-circle"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%# ############################## %>
      <div class="flip-card-click card-game">
        <div class="flip-card-inner card-game" tab-index="0">
          <div class="flip-card-front card-game">
            <h2>Play&flip</h2>
          </div>
          <div class="flip-card-back card-game">
            <% random = @activities.sample %>
            <img class="card-img-top" style="height: 400, crop: :fill; padding: 5px; border-radius: 15px;"
              src="<%= cl_image_path random.photos.first.key %>" style="" alt="the-game-card">
            <h3 class="title-game"><%= random.name %></h3>
            <%= link_to activity_path(random) do %>
               <i data-feather="arrow-right-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flip-card-click card-game">
        <div class="flip-card-inner card-game" tab-index="0">
          <div class="flip-card-front card-game">
            <h2>Play&flip</h2>
          </div>
          <div class="flip-card-back card-game">
            <% random = @activities.sample %>
            <img class="card-img-top" style="height: 400, crop: :fill; padding: 5px; border-radius: 15px;"
              src="<%= cl_image_path random.photos.first.key %>" style="" alt="the-game-card">
            <h3 class="title-game"><%= random.name %></h3>
            <%= link_to activity_path(random) do %>
               <i data-feather="arrow-right-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.querySelectorAll('.flip-card-click .flip-card-inner').forEach(function(item) {
    item.addEventListener('keypress', function(evt) { if (evt.keyCode == 13 || evt.keyCode == 32) { item.click(); } });
});

document.querySelectorAll('.flip-card-click').forEach(function(item) {
    item.addEventListener('click', function () { this.classList.toggle('flipped');  });
});


</script>
