<div class="home-background">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="banner w-50">

        <p>Sparkle your journey ...</p>
        <h3 class="ms-4">Let's</h3>

        <div class="logo-img">
          <%= image_tag "Make-it-easy_logo.png", class: "w-100" %>
        </div>
        <div>
          <%= form_with url: activities_path, method: :get, class: "d-grid gap-2 col-sm-8" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a city..."
          %>
          <%= submit_tag "See what I can do!", class: "button w-100" %>
          <% end %>
        </div>
      </div>
      <%= image_tag("undraw_traveling_re_s0cf.svg") %>
    </div>
  </div>
</div>
