<div class="container">
  <div class="form">
    <div>
      <%= form_with url: activities_path, method: :get, class: "d-grid gap-2 col-sm-10" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an activity..."
        %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
      <% end %>

  <div class="small-card row">
    <div class="card-grid col-sm-8">
      <% @activities.each do |activity| %>
        <div class="card">
          <div class="card-body">
            <img src="https://tinypng.com/images/social/website.jpg" class="card-img-top" alt="...">
            <h6 class="card-title text-capitalize"><%= activity.name.capitalize %></h6>
            <p class="card-title text-capitalize"> <%= activity.location.split.last %> </p>
            <p class="button"><%= link_to "Look it", activity_path(activity) %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="map col-sm-4">
        <div style="width: 400px; height: 100vh; position: sticky; top: 0;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>

</div>
