<h1>Activities page</h1>

<% @activities.each do |activity| %>
  <%= activity.name %>
  <%= activity.location %>
  <%= activity.date %>
  <%= activity.time %>
  <%= activity.description %>
  <%= activity.price %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="activities">
        <% @activities.each do |activity| %>
          <h4><%= activity.name %></h4>
          <p><%= activity.location %></p>
          <p><%= activity.date %></p>
        <% end %>

        <%= form_with url: activities_path, method: :get, class: "d-grid gap-2 col-sm-8" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an activity..."
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      
      </div>
    </div>
  </div>
</div>
