<div class="container">
  <h1 class="title-game">Find a new place!</h1>
  <div class="row justify-content-center barr-search">
    <div class="d-flex justify-content-end align-items-start my-4">
      <%= form_with url: activities_path, method: :get, class: "d-flex barr-search" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Looking for something else?"
        %>
        <%= button_tag type:'submit', class: "button" do %>
            <i class='fa-solid fa-magnifying-glass'></i>
        <% end %>
      <% end %>
    </div>

    <div class="thumbnail mb-5 mt-3">
      <% @categories.each do |category| %>
        <div>
          <% if category.photo.attached? %>
            <%= link_to activities_path(category: category.name) do %>
              <div class="thumbnail-img d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path category.photo.key, crop: :fill %>')">
              <h4 class="link"><%= category.name %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  <div class="d-flex justify-content-between">
    <div class="small-card card-box-shadow row">
      <div class="card-grid col-sm-8">
        <% @activities.each do |activity| %>
          <div class="card flex-grow card-index">
            <div class="card-body">
            <% if activity.photos.attached? %>
              <div class="card-img-top" style="background-image: url('<%= cl_image_path activity.photos.first.key, height: 400, crop: :fill %>')">
                </div>
              <% else %>
              <img src="https://tinypng.com/images/social/website.jpg" class="card-img-top" alt="...">
            <% end %>

            <%# <%= link_to "Like", activity_likes_path(activity), data: {turbo_method: :post, turbo_confirm: "Add to favs?"} %>

            <% @activity = activity %>
            <% if current_user %>
              <% if current_user.likes.where(activity: activity).empty? %>
                <%= simple_form_for [@activity, @like] do |f| %>
                  <%= f.button :button do %>
                    <i class="like fa-regular fa-heart"></i>
                  <% end %>
                <% end %>

              <% else %>
                  <%= link_to like_path(current_user.likes.where(activity: activity).first), class:"like-decoration", data: {turbo_method: :delete} do %>
                  <i class="like fa-solid fa-heart"></i>
                <% end %>
              <% end %>
            <% end %>
            <div class="mt-3">
              <h6 class="card-title text-capitalize"><%= activity.name.capitalize %></h6>
              <p class="card-title text-capitalize card-location fw-normal"> <%= activity.location.split.last %> </p>
            </div>
            <%= link_to "Look", activity_path(activity), class: "button activity-button" %>
            <%# <%= link_to "", activity_path(activity), class:"fa-solid fa-arrow-right justify-items-end", style:"color: $orange;" %>
            <div>
              <%# <i class="fa-solid fa-arrow-right", style="color: $orange;"></i> %>
            </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="map col-sm-4">
          <div style="width: 350px; height: 100vh; position: sticky; top: 0;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>

  </div>
</div>
