<div class="container">

   <div class="row justify-content-center barr-search">
    <div class="d-flex justify-content-end align-items-start mb-3">
      <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Looking for something else?"
        %>
        <%= submit_tag "Search", class: "button" %>
      <% end %>
    </div>
  <div class="small-card row">
    <div class="card-grid col-sm-8">
      <% @activities.each do |activity| %>
        <div class="card flex-grow-1">
          <div class="card-body">
          <% if activity.image_url %>
             <img src="<%= activity.image_url %>" class="card-img-top" alt="...">
            <% else %>
            <img src="https://tinypng.com/images/social/website.jpg" class="card-img-top" alt="...">
          <% end %>

            <h6 class="card-title text-capitalize"><%= activity.name.capitalize %></h6>
            <p class="card-title text-capitalize"> <%= activity.location.split.last %> </p>
            <%= link_to "Look it!", activity_path(activity), class: "button"  %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="map col-sm-4">
        <div style="width: 400px; height: 100vh; position: sticky; top: 0;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>

</div>
