<% content_for :meta_title, "#{@restaurant.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @restaurant.description %>
<% content_for :meta_image, cl_image_path(@restaurant.photo.path) if @restaurant.photo.present? %>

<div class="container">

  <div class="d-flex justify-content-lg-around">
    <div class="card shadow-sm p-3 me-2" style="width: 60%; height: 40%; padding: 25px; ">

      <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% if @activity.photos.attached? %>
            <% @activity.photos.each do |photo| %>
              <% if photo == @activity.photos.first %>
              <div class="carousel-item active card-img">
                <%= cl_image_tag photo.key, height: 300, width: 500, crop: :fill, class: "d-block w-100" %>
              </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, height: 300, width: 500, crop: :fill, class: "d-block w-100" %>
                </div>
              <% end %>

            <% end %>
          <% end %>
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>

      <div class="card-body mt-3">
        <%# <div class="card-description"> %>

        <h5 class="card-title text-capitalize"><%= @activity.name%></h5>
        <h6 class="card-text text-capitalize"> <%= @activity.location%></h6>
        <h6 class="card-text text-capitalize"> <%= @activity.date.strftime("%d %b %Y")%></h6>
        <h6 class="card-text text-capitalize"> <%= @activity.time.strftime("%H:00")%></h6>
        <p class=""><%= @activity.description %></p>
        <%# </div> %>
      </div>
      <div class="d-flex justify-content-center align-items-center card-form mt-3", style="weight: 15%; height: 15%; padding: 25px;">

      <%= simple_form_for [@activity, @booking] do |f|%>

        <div class="w-30">
          <%= f.input :participant, collection: (1..5).to_a, prompt: "Participants",label: false, input_html: {class: "box ms-1"} %>
        </div>

        <div class="d-flex py-3">
          <%= f.date_select :date, ignore_time: true, as: :date, html5: true, label: false, input_html: {class: "pb-0"} %>
          <%= f.time_select :date, ignore_date: true, html5: true %>
        </div>

        <div class="mt-2">
          <%= f.submit "Book now!", class: "button" %>
          <%#= link_to "Back", activities_path, class: "button-2", style:"margin-bttom: 10px; border-radius: 25px;" %>
        </div>
      <% end %>
    </div>


    </div>

      <%# <div class= "map col-sm-4"> %>
      <div class="ms-3" style="width: 40%; height: 100vh; position: sticky; top: 0;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%# </div> %>
  </div>
                                    <%# <%= link_to "Book now!", new_activity_booking_path(@activity), class:"button"  %>
  <div class="">

  </div>

    <div class="card align-items-center mt-3", style="weight: 15%; height: 15%; padding: 25px;">
      <div class="review-title mb-2">
        <h3>What other travelers think about this!</h3>
      </div>
      <div class="card-header mb-3 p-3">
        <h4><%= pluralize @activity.reviews.size, "review" %></h4>
      </div>

      <div class="card-review p-3">
          <% if @activity.reviews.blank? %>
            <blockquote class="blockquote mb-0 blockquote-style">
              There's not reviews yet for <%= @activity.name %> realize your booking and
              be the first in leaving one.
            </blockquote>
          <% else %>
            <blockquote class="blockquote mb-0 blockquote-style">
              <% @activity.reviews.each do |review| %>
                <p><%= review.comment %></p>
                <% review.rating.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <footer class="blockquote-footer mt-2"> A traveler wants to <cite title="Source Title">Make It Easier for you</cite></footer>
              <% end %>
            </blockquote>
          <% end %>
      </div>
    </div>

  </div>

</div>
