<h1><%= @activity.name %> <small><%= %></small></h1>


<div style="width: 300px; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div>
  <h2><%= pluralize @activity.reviews.size, "review" %></h2>
  <% if @activity.reviews.blank? %>
  There's not reviews yet for <%= @activity.name %> realize your booking and
  be the first in leaving one.
  <% else %>
    <% @activity.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>

<%= link_to "Book now!", new_activity_booking_path(@activity), class:"button"  %>
